<a href="https://colab.research.google.com/github/dariavolnova/124_volnova_daria/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
df = pd.read_excel("/content/Univeristy_Results.xls")

num_rows = df.shape[0]
print(num_rows)

df.head()

print(df)

# df.dtypes

df.columns

df.iloc[0]

df.mean()

df.max()

df.min()

55007
      Marks    GP Grade  Unnamed: 3          Unnamed: 4
0          -  0.0     F      -0.003     Zero point zero
1          0  0.0     F      -0.003     Zero point zero
2         *1  0.0     F      -0.002     Zero point zero
3         *2  0.0     F      -0.001     Zero point zero
4         *3  0.0     F       0.000     Zero point zero
...      ...  ...   ...         ...                 ...
55002    NaN  NaN   NaN      99.960  Hundred point zero
55003    NaN  NaN   NaN      99.970  Hundred point zero
55004    NaN  NaN   NaN      99.980  Hundred point zero
55005    NaN  NaN   NaN      99.990  Hundred point zero
55006    NaN  NaN   NaN     100.000  Hundred point zero

[55007 rows x 5 columns]

<ipython-input-3-6b0feca04297>:16: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()
<ipython-input-3-6b0feca04297>:18: FutureWarning: The default value of numeric_only in DataFrame.max is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.max()
<ipython-input-3-6b0feca04297>:20: FutureWarning: The default value of numeric_only in DataFrame.min is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.min()

GP            0.000
Unnamed: 3   -0.003
dtype: float64